body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('BackIMG.jpg');
  background-size: cover;
}
.calculator {
  width: 400px;
  padding: 10px;
  margin-top: 2rem;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  background: rgba(255, 255, 0, 0.834);
  box-shadow: 0px 0px 40px whitesmoke;
  height: 650px;
  border: 5px groove black;
}
.calculator h1 {
  color: black;
  font-family: sans-serif;
  text-align: center;
  font-size: 45px;
}
.display {
  height: 60px;
  font-size: 25px;
  text-align: right;
  padding: 5px;
  background-color: gainsboro;
  border: 2px solid rgba(0, 0, 0, 0.804);
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
  margin-top: -1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 7px;
  margin-left: 1.2rem;
}

.buttons #clr-btn {
  background-color: cyan;
}
.buttons #clr1-btn1 {
  background-color: rgba(251, 6, 6, 0.847);
}
.buttons #clr1-btn1:hover {
  background-color: rgb(160, 159, 159);
}
.buttons #clr-btn:hover {
  background-color: rgb(160, 159, 159);
}
button {
  height: 80px;
  width: 70px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(132, 4, 252, 0.641);
  border: 1.5px solid black;
}

button:hover {
  background-color: rgb(160, 159, 159);
}
